.dropdown-menu {
    width: 200px;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start;
    color: #ffff;
}

.dropdown-menu li {
    background: #d3d2d2;
    color: #ffff;
    cursor: pointer;
}

.dropdown-menu li:hover {
    background: #dedede;
    color: #ffff;
}

.dropdown-menu.clicked {
    display: none;
}

.dropdown-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #ffff;
    padding: 16px;
}